
.daytodo {
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  border: 1px solid gray;
}
.daytodo--completed {
  background: lightpink;
}

.todoitem {
  width : 2em;
  height: 2em;
  margin: .5em;
  border: 1px solid gray;
}
.todoitem--done {
  background-color: pink;
}
